
CREATE DATABASE [Fitnes] 

USE [Fitnes]


CREATE TABLE [dbo].[Klient](
	[IdKl] [int] NOT NULL,
	[FirstName] [varchar](55) NOT NULL,
	[LastName] [varchar](55) NOT NULL,
	[Paramonic] [varchar](55) NULL,
	[tel] [varchar](15) NOT NULL,
	[AgeOfBirsday] [date] NOT NULL,
	[Foto] [text] NOT NULL,
	[IdSex] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanTren]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanTren](
	[IdPlan] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
	[RepeatOfWeek] [varchar](55) NOT NULL,
	[IdTr] [int] NOT NULL,
	[IdKl] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[IdSex] [int] NOT NULL,
	[Tittle] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialKurs]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialKurs](
	[IdKurs] [int] NOT NULL,
	[Tittle] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKurs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTren]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTren](
	[IdStatTr] [int] NOT NULL,
	[Tittle] [varchar](155) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatTr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusZayav]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusZayav](
	[IdStZv] [int] NOT NULL,
	[Tittle] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStZv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trener]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trener](
	[IdTr] [int] NOT NULL,
	[FirstName] [varchar](55) NOT NULL,
	[LastName] [varchar](55) NOT NULL,
	[Paramonic] [varchar](55) NULL,
	[tel] [varchar](15) NOT NULL,
	[Foto] [text] NOT NULL,
	[IdSex] [int] NOT NULL,
	[Stage] [varchar](15) NOT NULL,
	[IdStatTr] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Upr]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Upr](
	[IdUpr] [int] NOT NULL,
	[Tittle] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUpr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UprVPlan]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UprVPlan](
	[IdPlan] [int] NOT NULL,
	[IdUpr] [int] NOT NULL,
	[RepeatUpr] [varchar](55) NOT NULL,
	[CheckUpr] [bit] NOT NULL,
	[Puls] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUs] [int] NOT NULL,
	[LoginUs] [varchar](20) NOT NULL,
	[PasswordUs] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZapKurs]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZapKurs](
	[IdTr] [int] NOT NULL,
	[IdKurs] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zayavka]    Script Date: 10.04.2024 12:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zayavka](
	[IdZv] [int] NOT NULL,
	[IdKl] [int] NOT NULL,
	[IdTr] [int] NOT NULL,
	[Cel] [varchar](55) NOT NULL,
	[IdStZv] [int] NOT NULL,
	[Otkaz] [varchar](125) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdZv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Klient] ([IdKl], [FirstName], [LastName], [Paramonic], [tel], [AgeOfBirsday], [Foto], [IdSex]) VALUES (1, N'Ахматшин', N'Кирилл', N'Николаевич', N'+79184440232', CAST(N'2003-10-17' AS Date), N'https://pelicanfit.ru/wp-content/uploads/2021/08/trainer-09.jpg', 1)
INSERT [dbo].[Klient] ([IdKl], [FirstName], [LastName], [Paramonic], [tel], [AgeOfBirsday], [Foto], [IdSex]) VALUES (2, N'Петров', N'Павел', N'Дмитриевич', N'+79996355563', CAST(N'2002-08-01' AS Date), N'https://avatars.mds.yandex.net/get-zen_doc/5268479/pub_60e6c6e1176288585bd7c4fa_60e6cbe85cbffc1d4d86a56b/scale_1200', 1)
INSERT [dbo].[Klient] ([IdKl], [FirstName], [LastName], [Paramonic], [tel], [AgeOfBirsday], [Foto], [IdSex]) VALUES (3, N'Кулебакина', N'Юлия', NULL, N'+79189996562', CAST(N'1998-04-30' AS Date), N'https://sun9-east.userapi.com/sun9-34/s/v1/ig2/8bo74gBnRL-Qerf_U4ZzR4gRHhkhbOZLVTz2KQtgQyj2UmORPN9uSGZoomlksyY8TVlfcPx_zctfQ5d8r2peKPqP.jpg?size=960x1200&quality=96&type=album', 2)
GO
INSERT [dbo].[PlanTren] ([IdPlan], [DateStart], [DateEnd], [RepeatOfWeek], [IdTr], [IdKl]) VALUES (1, CAST(N'2022-05-25' AS Date), CAST(N'2022-06-01' AS Date), N'5', 1, 1)
INSERT [dbo].[PlanTren] ([IdPlan], [DateStart], [DateEnd], [RepeatOfWeek], [IdTr], [IdKl]) VALUES (2, CAST(N'2022-02-22' AS Date), CAST(N'2022-06-03' AS Date), N'8', 2, 2)
INSERT [dbo].[PlanTren] ([IdPlan], [DateStart], [DateEnd], [RepeatOfWeek], [IdTr], [IdKl]) VALUES (3, CAST(N'2022-05-27' AS Date), CAST(N'2022-06-07' AS Date), N'3', 3, 3)
GO
INSERT [dbo].[Sex] ([IdSex], [Tittle]) VALUES (1, N'Мужской')
INSERT [dbo].[Sex] ([IdSex], [Tittle]) VALUES (2, N'Женский')
GO
INSERT [dbo].[SpecialKurs] ([IdKurs], [Tittle]) VALUES (1, N'СИЛОВАЯ ТРЕНИРОВКА')
INSERT [dbo].[SpecialKurs] ([IdKurs], [Tittle]) VALUES (2, N'HIIT')
INSERT [dbo].[SpecialKurs] ([IdKurs], [Tittle]) VALUES (3, N'ГИБКОСТЬ')
GO
INSERT [dbo].[StatusTren] ([IdStatTr], [Tittle]) VALUES (1, N'Неоднократная участница международных конвенций (Mioff, мега сезоны) проводимых в России и за рубежом.')
INSERT [dbo].[StatusTren] ([IdStatTr], [Tittle]) VALUES (2, N'Мастер спорта по самбо, кмс по боксу.
Чемпион областных соревнований по боксу
Чемпион республики Казахстана по Панкратиону')
GO
INSERT [dbo].[StatusZayav] ([IdStZv], [Tittle]) VALUES (1, N'Заявка находится на рассмотрении')
INSERT [dbo].[StatusZayav] ([IdStZv], [Tittle]) VALUES (2, N'Заявка отклонена')
INSERT [dbo].[StatusZayav] ([IdStZv], [Tittle]) VALUES (3, N'Заявка принята')
GO
INSERT [dbo].[Trener] ([IdTr], [FirstName], [LastName], [Paramonic], [tel], [Foto], [IdSex], [Stage], [IdStatTr]) VALUES (1, N'Казанкова', N'Анна', NULL, N'+79184651276', N'https://pelicanfit.ru/wp-content/uploads/2021/08/trainer-06.jpg', 2, N'14 лет', 1)
INSERT [dbo].[Trener] ([IdTr], [FirstName], [LastName], [Paramonic], [tel], [Foto], [IdSex], [Stage], [IdStatTr]) VALUES (2, N'Дубовикова', N'Полина', NULL, N'+79186667676', N'https://pelicanfit.ru/wp-content/uploads/2021/08/trainer-07.jpg', 2, N'7 лет', NULL)
INSERT [dbo].[Trener] ([IdTr], [FirstName], [LastName], [Paramonic], [tel], [Foto], [IdSex], [Stage], [IdStatTr]) VALUES (3, N'Макушкин', N'Максим', N'Сергеевич', N'+79885059932', N'https://pelicanfit.ru/wp-content/uploads/2021/08/trainer-01.jpg', 1, N'13 лет', 2)
GO
INSERT [dbo].[Upr] ([IdUpr], [Tittle]) VALUES (1, N'Жим вверх - Делаем четыре подхода (три разминочных и один рабочий – выполняем упражнение до отказа) по 12-15 повторений. Перерыв между подходами – минута.')
INSERT [dbo].[Upr] ([IdUpr], [Tittle]) VALUES (2, N'Жим от груди - Делаем четыре подхода (три разминочных и один рабочий – выполняем упражнение до отказа) по 12-15 повторений. Перерыв между подходами – минута.')
INSERT [dbo].[Upr] ([IdUpr], [Tittle]) VALUES (3, N'Тяга сверху - Делаем четыре подхода (три разминочных и один рабочий – выполняем упражнение до отказа) по 12-15 повторений. Перерыв между подходами – минута.')
GO
INSERT [dbo].[UprVPlan] ([IdPlan], [IdUpr], [RepeatUpr], [CheckUpr], [Puls]) VALUES (1, 1, N'5', 1, 85)
INSERT [dbo].[UprVPlan] ([IdPlan], [IdUpr], [RepeatUpr], [CheckUpr], [Puls]) VALUES (2, 2, N'7', 0, 140)
INSERT [dbo].[UprVPlan] ([IdPlan], [IdUpr], [RepeatUpr], [CheckUpr], [Puls]) VALUES (3, 3, N'4', 1, 89)
GO
INSERT [dbo].[Users] ([IdUs], [LoginUs], [PasswordUs]) VALUES (1, N'+79184440232', N'yakrutoi123')
INSERT [dbo].[Users] ([IdUs], [LoginUs], [PasswordUs]) VALUES (2, N'+79996355563', N'321321')
INSERT [dbo].[Users] ([IdUs], [LoginUs], [PasswordUs]) VALUES (3, N'+79189996562', N'kirill123123')
GO
INSERT [dbo].[ZapKurs] ([IdTr], [IdKurs]) VALUES (1, 2)
INSERT [dbo].[ZapKurs] ([IdTr], [IdKurs]) VALUES (2, 1)
INSERT [dbo].[ZapKurs] ([IdTr], [IdKurs]) VALUES (3, 4)
GO
INSERT [dbo].[Zayavka] ([IdZv], [IdKl], [IdTr], [Cel], [IdStZv], [Otkaz]) VALUES (1, 1, 1, N'Похудеть', 1, NULL)
INSERT [dbo].[Zayavka] ([IdZv], [IdKl], [IdTr], [Cel], [IdStZv], [Otkaz]) VALUES (2, 2, 2, N'Стать сильнее', 3, NULL)
INSERT [dbo].[Zayavka] ([IdZv], [IdKl], [IdTr], [Cel], [IdStZv], [Otkaz]) VALUES (3, 3, 3, N'Накачать пресс', 2, N'Большая загруженность')
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD FOREIGN KEY([IdSex])
REFERENCES [dbo].[Sex] ([IdSex])
GO
ALTER TABLE [dbo].[Klient]  WITH CHECK ADD FOREIGN KEY([IdSex])
REFERENCES [dbo].[Sex] ([IdSex])
GO
ALTER TABLE [dbo].[PlanTren]  WITH CHECK ADD FOREIGN KEY([IdKl])
REFERENCES [dbo].[Klient] ([IdKl])
GO
ALTER TABLE [dbo].[PlanTren]  WITH CHECK ADD FOREIGN KEY([IdKl])
REFERENCES [dbo].[Klient] ([IdKl])
GO
ALTER TABLE [dbo].[PlanTren]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
GO
ALTER TABLE [dbo].[PlanTren]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
GO
ALTER TABLE [dbo].[Trener]  WITH CHECK ADD FOREIGN KEY([IdSex])
REFERENCES [dbo].[Sex] ([IdSex])
GO
ALTER TABLE [dbo].[Trener]  WITH CHECK ADD FOREIGN KEY([IdSex])
REFERENCES [dbo].[Sex] ([IdSex])
GO
ALTER TABLE [dbo].[Trener]  WITH CHECK ADD FOREIGN KEY([IdStatTr])
REFERENCES [dbo].[StatusTren] ([IdStatTr])
GO
ALTER TABLE [dbo].[Trener]  WITH CHECK ADD FOREIGN KEY([IdStatTr])
REFERENCES [dbo].[StatusTren] ([IdStatTr])
GO
ALTER TABLE [dbo].[UprVPlan]  WITH CHECK ADD FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanTren] ([IdPlan])
GO
ALTER TABLE [dbo].[UprVPlan]  WITH CHECK ADD FOREIGN KEY([IdPlan])
REFERENCES [dbo].[PlanTren] ([IdPlan])
GO
ALTER TABLE [dbo].[UprVPlan]  WITH CHECK ADD FOREIGN KEY([IdUpr])
REFERENCES [dbo].[Upr] ([IdUpr])
GO
ALTER TABLE [dbo].[UprVPlan]  WITH CHECK ADD FOREIGN KEY([IdUpr])
REFERENCES [dbo].[Upr] ([IdUpr])
GO
ALTER TABLE [dbo].[ZapKurs]  WITH CHECK ADD FOREIGN KEY([IdKurs])
REFERENCES [dbo].[SpecialKurs] ([IdKurs])
GO
ALTER TABLE [dbo].[ZapKurs]  WITH CHECK ADD FOREIGN KEY([IdKurs])
REFERENCES [dbo].[SpecialKurs] ([IdKurs])
GO
ALTER TABLE [dbo].[ZapKurs]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
GO
ALTER TABLE [dbo].[ZapKurs]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdKl])
REFERENCES [dbo].[Klient] ([IdKl])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdKl])
REFERENCES [dbo].[Klient] ([IdKl])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdStZv])
REFERENCES [dbo].[StatusZayav] ([IdStZv])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdStZv])
REFERENCES [dbo].[StatusZayav] ([IdStZv])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
GO
ALTER TABLE [dbo].[Zayavka]  WITH CHECK ADD FOREIGN KEY([IdTr])
REFERENCES [dbo].[Trener] ([IdTr])
